body,
.top-header,
.book-list,
.book,
.nav-links,
ul,
li {
  display: flex;
}

html,
body {
  height: 100%;
}

body {
  flex-direction: column;
  align-items: center;
  font-size: 27px;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  box-sizing: border-box;
  padding: 30px;
  min-height: calc(100vh - 100px);
}

.nav-links {
  justify-content: space-around;
  width: 500px;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.a-link {
  padding-left: 10px;
}

.r-dots {
  flex-direction: row;
  width: 130px;
  text-decoration: none;
  list-style: none;
}

.logo {
  margin-left: 30px;
}

.line {
  border-right: 2px solid black;
}

.top-header,
.book-list {
  border: 2px solid black;
  width: 90%;
}

.top-header {
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

h1 {
  font-size: 2em;
}

.date-time {
  font-size: 15px;
}

.datetime {
  display: flex;
  padding: 20px;
  width: 90%;
  justify-content: flex-end;
}

.book-list {
  flex-direction: column;
  box-shadow: 1px 1px 1px 1px;
  margin-bottom: 10px;
  flex: 1 0 auto;
}

.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em;
}

.book:nth-child(odd) {
  background-color: silver;
}

hr {
  border: 2px solid black;
  margin-top: 30px;
  width: 200px;
}

.remove {
  margin-right: 2em;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  width: 170px;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.book-form {
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.title,
.author,
.btn {
  margin: 1em;
  border: 2px solid black;
  padding: 0.4em;
  font-size: 22px;
}

.btn {
  width: 100px;
  box-shadow: 5px 10px;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  font-weight: bold;
}

.hide {
  display: none;
  opacity: 0;
  z-index: 0;
}

.add-btn {
  display: flex;
  justify-content: flex-end;
}

::placeholder {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  color: black;
  font-weight: bold;
}

.contact-section {
  flex: 1 0 auto;
}

.contact-info-list {
  display: block;
}

.contact-info-list li {
  margin-left: 30px;
  display: list-item;
}

footer {
  width: 95%;
  justify-content: flex-start;
  border: 2px solid black;
  margin-top: 10px;
  flex-shrink: 0;
}

.footer-bar {
  padding: 0.4em;
  padding-left: 1em;
  font-size: 22px;
}
