body,
.top-header,
.book-list,
.book {
  display: flex;
}

body{
  flex-direction: column;
  align-items: center;
  font-size: 27px;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  font-weight: 700;
}

.top-header,
.book-list {
  border: 2px solid black;
  width: 90%;
}

.top-header{
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2em;
}

.book-list{
  flex-direction:column;
  box-shadow: 1px 1px 1px 1px;
}

.book:nth-child(odd) {
  background-color: silver;
}

hr{
  border: 2px solid black;
  margin-top: 30px;
  width: 200px;
}

.book {
  align-items: center;
  justify-content:space-between;
  padding: .4em;
}

.book-form {
  padding: .3em;
}

.remove{
  margin-right: 2em;
  padding: .3em;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  width: 170px;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}